<section class="py-6 px-6 md:px-6 lg:px-6">
  <div class="flex justify-center md:justify-start">
      <img src="../../../assets/logo-gpt.png" alt="Logo" class="w-24 md:w-24">
  </div>
  <div class="container mx-auto text-center max-w-lg">
    <h2 class="text-3xl font-bold text-gray-900 mb-4 font-serif">Subscription Preferences</h2>
    <p class="text-base sm:text-lg text-gray-600 mb-6">
      Customize which genres you are interested in!
    </p>
    <form>
      <div class="space-y-2">
        <div *ngFor="let genre of genres">
          <label
            class="flex items-center gap-3 p-4 rounded-lg bg-white shadow-sm hover:bg-gray-50 transition cursor-pointer">
            <input class="h-5 w-5 text-booktok-primary-light border-gray-300 rounded focus:ring-booktok-primary-light"
              type="checkbox" [(ngModel)]="selectedGenresMap[genre]" name="{{ genre }}" />
            <span class="text-base font-medium text-gray-800">
              {{ genre }}
            </span>
          </label>
        </div>
      </div>
      <button (click)="savePreferences()"
        class="mt-6 px-8 py-3 rounded-md text-md font-medium bg-booktok-accent-light text-white shadow-sm hover:brightness-105 transition cursor-pointer"
        type="submit">{{ isLoading ? 'Saving...' : 'Save' }}
      </button>
    </form>
    <hr class="border-t border-gray-300 my-6">
    <p class="text-base sm:text-lg text-gray-600 mb-6">
      That's all we have for now. Check back later for more subscription options! 🎉
    </p>
    <div class="flex items-center justify-center gap-2 mt-8">
      <button (click)="logout()" class="bg-booktok-background border border-gray-300 px-4 py-1 rounded-sm font-small w-full md:w-auto cursor-pointer hover:brightness-90">Log Out</button>
    </div>
  </div>
</section>