

<form [formGroup]="adForm" (ngSubmit)="startExpressCheckout()">
    <label for="productSource">Source</label>
    <select id="productSource" formControlName="productSource" required>
      <option *ngFor="let productSource of productSources" [value]="productSource">{{ productSource }}</option>
    </select>
    <br /><br />

    <label for="asin">ASIN:</label>
    <input id="asin" formControlName="asin" required />
    <button type="button" (click)="checkProductId()">Validate</button>
    <p *ngIf="checkTitle">{{checkTitle}}</p>
    <br /><br />
  
    <label for="genre">Genre:</label>
    <select (change)="getGenreAvailability($event)" id="genre" formControlName="genre" required>
      <option value="" disabled>Select a Genre</option>
      <option *ngFor="let item of adPrices | keyvalue" [value]="item.key">{{ item.value / 100 | currency }} {{ item.key }}</option>
      <tr *ngFor="let item of adPrices | keyvalue">
      </tr>

    </select>
    <br /><br />

    <label for="ad-date">Ad Date:</label>
    <input id="ad-date" type="date" formControlName="adDate" required />
    <br /><br />
  
    <!-- Submit Button -->
    <button type="submit">Submit</button>
  </form>
  
  <p *ngIf="errorMessage" style="color: red;">{{ errorMessage }}</p>