@if(user){
<div class="flex flex-col md:flex-row h-screen">
    <!-- Sidebar -->
    <div
        class="bg-[#E5E7EB] text-[#140900] w-full md:w-64 p-4 flex flex-col border-b md:border-b-0 md:border-r border-[#D1D5DB]">
        <div class="flex justify-center md:justify-start">
            <img src="../../../assets/logo-gpt.png" alt="Logo" class="w-24 md:w-24">
        </div>
        <hr class="border-t border-gray-300 my-6">
        <nav class="flex-1">
            <ul>
                @for (item of navItems; track item) {
                <li class="mb-2">
                    <a (click)="navigate(item)"
                        class="block p-2 hover:bg-[#7163B6] rounded text-[#140900] hover:text-[#FFFFFF] leading-relaxed cursor-pointer">
                        {{ item }}
                    </a>
                </li>
                }
            </ul>
        </nav>
    </div>

    <!-- Main Content -->
    <div class="flex-1 p-4 md:p-8 overflow-auto">
        <header class="flex flex-col md:flex-row justify-between items-start md:items-center mb-6">
            <h1 class="text-[28px] md:text-[36px] font-bold text-[#140900] font-serif">Author Dashboard</h1>
            <div class="flex items-center mt-4 md:mt-0">
                <span class="mr-4 text-[16px] text-[#140900] leading-relaxed font-serif">Welcome, {{user.name ??
                    user.username}}</span>
                <img [src]="user.profilePicture" alt="Profile" class="rounded-full w-10 h-10">
            </div>
        </header>

        <!-- Page Content -->
        <router-outlet></router-outlet>
    </div>
</div>
}