
<div class="container">
    <h2>Login</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <div>
        <label>Email</label>
        <div class="input-group">
          <input formControlName="email" type="text" />
        </div>
        <div *ngIf="loginForm.controls['email'].invalid && loginForm.controls['email'].touched">
          Email is required
        </div>
      </div>
  
      <div>
        <label>Password</label>
        <div class="input-group">
          <input formControlName="password" type="password" />
        </div>

        <div *ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].touched">
          Password is required
        </div>
      </div>
  
      <button class="btn" type="submit" [disabled]="loginForm.invalid">Login</button>
    </form>
    <div class="separator">or</div>
    <a>Don't have an account?</a>
      <button class="btn" (click)="signup()">Sign Up</button>
    <p>Forgot your password? <a href="mailto:support@booktokclub.com">Please email us</a></p>
  </div>