
<div class="container">
    <h2>Login</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <div>
        <label>Email</label>
        <input formControlName="email" type="text" />
        <div *ngIf="loginForm.controls['email'].invalid && loginForm.controls['email'].touched">
          Email is required
        </div>
      </div>
  
      <div>
        <label>Password</label>
        <input formControlName="password" type="password" />
        <div *ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].touched">
          Password is required
        </div>
      </div>
  
      <button type="submit" [disabled]="loginForm.invalid">Login</button>
    </form>
  
    <a>Don't have an account?</a>
      <button (click)="signup()">Sign Up</button>
    <p>Forgot your password? <a href="mailto:support@booktokclub.com">Please email us</a></p>
  </div>
<p>or...</p>
<button (click)="login('github')">Login with GitHub</button>
<button (click)="login('aad')">Login with AAD</button>
