.header {
    background-color: #F5F1E9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  .logo {
    font-weight: bold;
    font-size: 1.5em;
  }