<section class="py-6 px-6 md:px-6 lg:px-6 min-h-screen book-section">
    <div class="flex justify-center md:justify-start">
        <img src="../../../assets/logo-gpt.png" alt="Logo" class="w-24 md:w-24">
    </div>
    <div class="container mx-auto flex flex-col md:flex-row items-center gap-12 mt-8">
        <div class="md:w-1/2 flex justify-center order-2 md:order-1">
            <div class="grid grid-cols-3 gap-4 w-full max-w-md">
                @for (product of products; track product) {
                  <a [href]="product.link">
                    <img [src]="product.image"
                        class="rounded shadow-md aspect-[2/3] object-cover transition-transform duration-200 hover:scale-105">
                  </a>
                }
            </div>
        </div>
        <div class="md:w-1/2 text-center md:text-left order-1 md:order-2 p-4">
          <h2 class="text-3xl sm:text-4xl md:text-4xl lg:text-5xl font-bold text-gray-900 mb-4 leading-tight font-serif">
            Turn the Page to Something New</h2>
            <p class="text-lg text-gray-600 mb-6 p-2">Explore handpicked lists, new releases, and must-reads from every genre — whether you're into thrillers, romance, or hidden gems, there's always something waiting to be discovered</p>
            <form class="space-y-4 mb-6" [formGroup]="emailForm" (ngSubmit)="routeSignup()">
              <div class="flex items-center w-full gap-4">
                <app-social-login [role]="'reader'"></app-social-login>
                <div class="flex flex-grow">
                  <input
                    type="email"
                    formControlName="email"
                    placeholder="Email Address"
                    class="flex-grow px-4 py-3 border border-gray-300 rounded-l-md focus:ring-2 focus:ring-purple-300 focus:border-purple-500 outline-none transition duration-200"
                  />
                  <button
                    type="submit"
                    class="bg-booktok-primary-light text-white px-6 py-3 rounded-r-md font-small cursor-pointer hover:brightness-90"
                  >
                  Subscribe
                  </button>
                </div>
              </div>
            </form>
        </div>
    </div>
</section>
<section class="p-16 md:px-6 lg:px-6">
  <div class="container mx-auto flex flex-col md:flex-row items-center gap-12 mt-8">
    
    <!-- Left side image -->
    <div class="md:w-1/2 mb-10 md:mb-0 flex justify-center">
      <img src="../../../assets/library.png" alt="Ebook Deals Preview" class="max-w-[200px] sm:max-w-[280px] md:max-w-[400px] rounded-lg shadow-lg">
    </div>

    <!-- Right side text -->
    <div class="p-2 md:w-1/2 text-center md:text-left">
      <h2 class="text-3xl sm:text-4xl md:text-4xl lg:text-4xl font-bold text-gray-900 mb-4 leading-tight font-serif">
        Browse the biggest ebook deals, <br class="hidden sm:inline"> up to <span class="text-booktok-accent-light">95% off</span>
      </h2>
      <p class="text-lg text-gray-600 mb-6">
        Explore a thoughtfully curated collection of books where great stories come first — not high prices. From beloved bestsellers to undiscovered gems, there’s always something worth reading. New selections arrive daily to keep your bookshelf fresh 📚
      </p>
    </div>
    
  </div>
</section>
<section class="p-16 md:px-6 lg:px-6 book-section">
  <div class="container mx-auto flex flex-col md:flex-row items-center gap-12 mt-8">
    
    <div class="p-2 md:w-1/2 text-center md:text-left">
      <h2 class="text-3xl sm:text-4xl md:text-4xl lg:text-4xl font-bold text-gray-900 mb-4 leading-tight font-serif">
        Never Miss a Deal
      </h2>
      <p class="text-lg text-gray-600 mb-6">
        Stay in the loop with personalized alerts for book deals from your favorite authors — so you never miss a chance to grab their latest titles or beloved classics at a great price 🔎
      </p>
    </div>
    <div class="md:w-1/2 mb-10 md:mb-0 flex justify-center">
      <img src="../../../assets/sketch-window-read.png" alt="Ebook Deals Preview" class="max-w-xs md:max-w-sm lg:max-w-md rounded-lg shadow-lg">
    </div>
  </div>
</section>
